<nav class="menu">
  <LinkTo @route="index" class="menu-index">
    <h1>CoSchedule</h1>
  </LinkTo>
  <div class="links">
    <LinkTo @route="posts" class="menu-posts">
      All Posts
    </LinkTo>
    <LinkTo @route="favourite" class="menu-favourite">
      Favourite Posts
    </LinkTo>
  </div>
</nav>